.jumbotron {
  background-image:url('../img/bnr.jpg');
  height:500px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0%;
  margin-bottom: 0%;
}
.col-md-3 {
  padding-right: 0%;
  padding-left: 0%;
}

/*custom animation for the cards*/
.card {
  transition: transform .2s; /* Animation */
}
.card:hover {
  transform: scale(1.05);
  z-index:1;
}

/*custom color for nav link*/


a, .nav-link{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 12px;
}

a, .nav-link:hover {
  color: rgb(255, 145, 0);
}

.card-text{
  color: rgb(255, 145, 0);
}

h6 {
  color: rgb(95, 95, 95);
  font-weight: 100;
}

.arrow {
  color: rgb(255, 145, 0);
  font-size: 16px;
}

.im-centered{
  margin: auto; 
  max-width: 200px;
}

.logo{
  background-image:url('../img/logo-o.png');
  background-size: cover;
  float: left;
  margin: 0 10px;
  height: 40px;
  width: 40px;
}

.lg-txt {
  line-height: 1.3rem;
}

.jumb-title {
  color: #fff;
  text-align: center;
  width: 100%;
}

/*hide the orange dot*/

@media (min-width: 768px){
  .dot {
    font-size: 15px;
    color: rgb(255, 145, 0);
    display: block;
    padding: .5rem 1rem;
    pointer-events:none;
  }
}
@media only screen and (max-width: 767px) {
  .dot-hide{
    display: none;
  }
}

.filter-bar {
  background-color: rgb(224, 224, 224);
  padding: 10px;
  color: #000;
  flex-direction: column;
  margin-bottom: 3em;
}

.price {
  margin: 0.9em;
  color: rgb(95, 95, 95);
  font-size: 13px;
}
